In [1]:
# Doing some general python learning via Harvard's CS50
# Felt a little dumb after we talked last and i really
# wanted to brush up and become a little more proficient

name = input("what's your name?").strip()

In [2]:
name

'mark'

In [3]:
# Playing with str methods

name.capitalize()

'Mark'

In [4]:
name.index('k') #looks for first occurence of specified character

3

In [5]:
name.isalpha() #bool for whether all are alphanumberic

True

In [6]:
name.isupper() #bool for whether all are uppercase

False

In [7]:
# interesting that you can define a default input for def

def hi(person='mark'):
    print('hi,',person)

hi('jon')

hi, jon

In [18]:
# print meow 3 times using a loop

for i in range(3):
    print('meow')
    
i = 3
while i != 0:
    print('bark')
    i-=1

meow
meow
meow
bark
bark
bark

In [9]:
people = ['jon', 'mark', 'carolina', 'nour']

jo = people[0][0:2]
ma = people[1][0:2]
carol = people[2][0:5]
no = people[3][0:2]

more = ['el', 'arielle', 'luke']

listOne = [people, more]

ari = listOne[1][1][0:3]
ari

parents = ['sonya', 'raafat']

listTwo = [listOne, parents]
listTwo

# let's print raaf

listTwo[1][1][0:4]

'raaf'

In [10]:
# now lets do ari again

ari = listTwo[0][1][1][0:3]
ari

'ari'

In [20]:
# lets print the first letter of ever name in listOne
# innefecient way!

for j in range(len(people)):
    print(people[j][0:2])
for k in range(len(more)):
    print(more[k][0:2])

jo
ma
ca
no
el
ar
lu

In [12]:
# above was really sloppy
# this is way easier + efficient

for a in listOne:
    for char2 in a:
        print(char2[0:2])

jo
ma
ca
no
el
ar
lu

In [13]:
for a in listTwo:
    for b in a:
        for char2 in b:
            print(char2[0:2])
            
# data shape differs as we go down each list tree
# so instead of printing so and ra it just iterates
# letter by letter

jo
ma
ca
no
el
ar
lu
s
o
n
y
a
r
a
a
f
a
t

In [14]:
# to solve this, i assume i'd have to write code that
# uses if statements to stop when it reaches the final
# string in each list, then make a slice
# jon, any ideas on how i can do that?

In [15]:
# curious about how this works with dicts


friends = [
    {'name':'jon','location':'italy','profession':'genius'},
    {'name':'el','location':'florence','profession':'artist'},
    {'name':'arielle','location':'bedford','profession':'sales'}
]

family = [
    {'name':'carolina','location':'peabody','profession':'admin'},
    {'name':'nour','location':'crib','profession':'baby'}
]

everyone = [friends, family]

everyone[0][0]['name'][0:2]

'jo'

In [21]:
# ah okay, because the index in a dict is also a string
# need to use that instead

# trying to just print first two letters of every value only

for a in everyone:
    for b in a:
        for c in b.values():
            print(c[0:2])

# takeaway: i can use .values method to access values in a dict
            
# took a while, and not sure if this is the only way
# but kept getting just the indexes
# using .values() method on the last for loop let me
# access the values instead of indexes

jo
it
ge
el
fl
ar
ar
be
sa
ca
pe
ad
no
cr
ba