In [1]:
# structured data

import numpy as np

In [2]:
# we have these three arrays that show data, but what if we want to link them?

name = ['Alice', 'Bob', 'Cathy', 'Doug']
age = [25, 45, 37, 19]
weight = [55.0, 85.5, 68.0, 61.5]

# we could make an array that stores name, age, weight, but that's awk.

In [10]:
# creating a structured array

data = np.zeros(4, dtype={'names':('name', 'age', 'weight'),
                          'formats':('U10', 'i4', 'f8')})

data

# this array creates empties as we can see below

array([('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [12]:
# now lets fill the array with our previous values

data['name'] = name
data['age'] = age
data['weight'] = weight

data

array([('Alice', 25, 55. ), ('Bob', 45, 85.5), ('Cathy', 37, 68. ),
       ('Doug', 19, 61.5)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [13]:
# now we can refer to the array by index or by name

print(data['name']) # print all names
print(data[0]) # print data for index[0]

# we're def getting into pandas territory here :D

['Alice' 'Bob' 'Cathy' 'Doug']
('Alice', 25, 55.)

In [18]:
# can also use boolean masking to get results

data[data['age'] < 30]['name']

array(['Alice', 'Doug'], dtype='<U10')