In [44]:
import numpy as np
import pandas as pd

In [45]:
# example data set

index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [46]:
# this is an okay way to display data, but a Pandas multiIndex would be far superior

# creating Pandas MultiIndex with from_tuples() method
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [47]:
#re-indexing the data here
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [48]:
# now lets access only the data from year 2010

pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [49]:
## the unstack() method will quickly convert any MultiIndex into a convenientally indexed DataFrame

pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [50]:
## and stack() does the opposite

pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [51]:
# so why would we want to use MultiIndexes?
# they allow us to represent 3d+ data in a convenient DataFrame
# where we can easily visualize and manage the data all at once
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [52]:
# let's add another column for 'under 18' population to our data

pop_df = pd.DataFrame({'total': pop,
                       'under18': [9267089, 9284094,
                                   4687374, 4318033,
                                   5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [53]:
# we can still do normal ufuncs on MultiIndexes too

# calculating ration of population under 18

f_u18 = pop_df['under18'] / pop_df['total']
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [56]:
# this would be the most straightforward way of creating a MultiIndex from scratch
## note here that we're using pd.DataFrame

df = pd.DataFrame(np.random.rand(4,2),
                   index=[['a', 'a','b', 'b'], [1,2,1,2]],
                   columns=['data1', 'data2'])
df

        data1     data2
a 1  0.494260  0.442297
  2  0.834873  0.882672
b 1  0.379219  0.677161
  2  0.650450  0.468763

In [57]:
# if you pass a dictionary with the appropiate tuples as keys, Pandas will automatically MultiIndex it

data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [58]:
# ways to explicitly create a MultiIndex
# pd.MultiIndex.from_arrays
# pd.MultiIndex.from_tuples
# pd.MultiIndex.from_product

In [66]:
# we can name the levels of a MultiIndex too as seen below

pop.index.names = ['State', 'Year']
pop

State       Year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [67]:
# example data

### hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                   names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

### create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      32.0  36.6  33.0  37.3  42.0  37.1
     2      45.0  38.6  37.0  36.7  19.0  38.4
2014 1      39.0  38.1  19.0  37.9  42.0  36.6
     2      38.0  36.9  54.0  37.5  46.0  38.9

In [68]:
# hierarchical columns make it really convenient to then do something like this

health_data['Guido']

type          HR  Temp
year visit
2013 1      33.0  37.3
     2      37.0  36.7
2014 1      19.0  37.9
     2      54.0  37.5

In [69]:
## Indexing and slicing MultiIndex
# Series

In [70]:
pop

State       Year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [71]:
# let's access some elements here

pop['California', 2010]

37253956

In [72]:
# accessing all of Califonia data

pop['California']

Year
2000    33871648
2010    37253956
dtype: int64

In [73]:
# slicing is available as long as the MultiIndex is sorted

pop.loc['California':'New York']

State       Year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [74]:
# if indices are sorted, then we can slice lower levels too

pop[:, 2000]

State
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [76]:
# boolean masking still works too

pop[pop > 20851820]

State       Year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [84]:
# as does fancy indexing

pop[['California', 'Texas']]

State       Year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [85]:
## Indexing and slicing MultiIndex
# DataFrames

In [86]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      32.0  36.6  33.0  37.3  42.0  37.1
     2      45.0  38.6  37.0  36.7  19.0  38.4
2014 1      39.0  38.1  19.0  37.9  42.0  36.6
     2      38.0  36.9  54.0  37.5  46.0  38.9

In [88]:
# remember that columns are primary in DataFrames, not rows!

health_data['Guido', 'HR']

year  visit
2013  1        33.0
      2        37.0
2014  1        19.0
      2        54.0
Name: (Guido, HR), dtype: float64

In [91]:
# we can still use iloc and loc here

health_data.iloc[:2, :2]

subject      Bob
type          HR  Temp
year visit
2013 1      32.0  36.6
     2      45.0  38.6

In [92]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        32.0
      2        45.0
2014  1        39.0
      2        38.0
Name: (Bob, HR), dtype: float64

In [93]:
# use Pandas IndexSlice object to create slices within tuples! this is a big one!
# sort of a mind F
# but really convenient once u get it

idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      32.0  33.0  42.0
2014 1      39.0  19.0  42.0

In [94]:
# slicing unsorted indices

# example of an unsorted series
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
data

char  int
a     1      0.318762
      2      0.986953
c     1      0.159356
      2      0.965403
b     1      0.195301
      2      0.291961
dtype: float64

In [95]:
try:
    data['a':'b']
except KeyError as e:
    print(type(e))
    print(e)

<class 'pandas.errors.UnsortedIndexError'>
'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [96]:
# we can slice this as the index is not sorted

data = data.sort_index()

In [97]:
# works now!

data['a':'b']

char  int
a     1      0.318762
      2      0.986953
b     1      0.195301
      2      0.291961
dtype: float64

In [98]:
# stacking and unstacking indices

pop

State       Year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [99]:
pop.unstack(level=0) #level = 0 refers to index level 0 (the states), and it unstacks them appropiately

State  California  New York     Texas
Year
2000     33871648  18976457  20851820
2010     37253956  19378102  25145561

In [100]:
pop.unstack(level=1) #level = 1 does the same but with the years

Year            2000      2010
State
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [102]:
# we can use reset_index() method to turn hierarchical indices into columns

pop_flat = pop.reset_index(name = 'population')
pop_flat

        State  Year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [103]:
# we can also use set_index to create a MultiIndex when we have data like we see in pop_flat
## JDV notes that this is particularly useful in the real world

pop_flat.set_index(['State', 'Year'])

                 population
State      Year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

In [104]:
# Data aggregations on multi-indices
# we can use methods like mean(), sum(), and max() on these multi-indices

health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      32.0  36.6  33.0  37.3  42.0  37.1
     2      45.0  38.6  37.0  36.7  19.0  38.4
2014 1      39.0  38.1  19.0  37.9  42.0  36.6
     2      38.0  36.9  54.0  37.5  46.0  38.9

In [111]:
# below is outdated, seems like it's been fully replaced by GroupBy function, which is later on

data_mean = health_data.mean(level='year')
data_mean

TypeError: mean() got an unexpected keyword argument 'level'

In [112]:
data_mean.mean(axis=1, level='type')

NameError: name 'data_mean' is not defined