In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# data exploration and data cleaning for this one, let's go!
# wondering what carolina will think about what we find here xD

In [24]:
sleep = pd.read_csv('data/Dataset_maternal_mental_health_infant_sleep.csv', encoding='iso-8859-1')
sleep.head()

/var/folders/5x/1n063tsx6jx9wzcy34jzlqzh0000gn/T/ipykernel_50076/761960269.py:1: DtypeWarning: Columns (6,61) have mixed types. Specify dtype option on import or set low_memory=False.
  sleep = pd.read_csv('data/Dataset_maternal_mental_health_infant_sleep.csv', encoding='iso-8859-1')

,Participant_number,Type_parents,Birth_1mth_M_inclusion,Birth_12mth_M_inclusion,Age,Marital_status,Marital_status_Autre,Marital_status_edit,Education,Gestationnal_age,...,IBQ_R_VSF_10_bb1,IBQ_R_VSF_16_bb1,IBQ_R_VSF_17_bb1,IBQ_R_VSF_28_bb1,IBQ_R_VSF_29_bb1,IBQ_R_VSF_32_bb1,IBQ_R_VSF_33_bb1,Sleep_night_duration_bb1,night_awakening_number_bb1,how_falling_asleep_bb1
0,1.0,1.0,1.0,1.0,34.0,2.0,NaN,2.0,5.0,37.0,...,NaN,7.0,NaN,NaN,7.0,6.0,NaN,10:00,3.0,2.0
1,2.0,1.0,1.0,1.0,33.0,2.0,NaN,2.0,5.0,42.0,...,2.0,3.0,2.0,2.0,2.0,3.0,4.0,11:00,0.0,4.0
2,3.0,1.0,1.0,1.0,37.0,2.0,NaN,2.0,5.0,41.0,...,4.0,4.0,3.0,1.0,4.0,NaN,NaN,12:00,1.0,2.0
3,4.0,1.0,1.0,1.0,31.0,2.0,NaN,2.0,5.0,37.5,...,1.0,3.0,NaN,NaN,NaN,5.0,NaN,11:00,2.0,1.0
4,5.0,1.0,1.0,1.0,36.0,1.0,NaN,1.0,5.0,40.0,...,4.0,2.0,2.0,4.0,5.0,6.0,6.0,10:30,1.0,4.0

In [25]:
sleep.dtypes.index    # lots of columns here. many.

Index(['Participant_number', 'Type_parents', 'Birth_1mth_M_inclusion',
       'Birth_12mth_M_inclusion', 'Age', 'Marital_status',
       'Marital_status_Autre', 'Marital_status_edit', 'Education',
       'Gestationnal_age', 'Type_pregnancy', 'sex_baby1', 'CBTS_M_3',
       'CBTS_M_4', 'CBTS_M_5', 'CBTS_M_6', 'CBTS_M_7', 'CBTS_M_8', 'CBTS_M_9',
       'CBTS_M_10', 'CBTS_M_11', 'CBTS_M_12', 'CBTS_13', 'CBTS_14', 'CBTS_15',
       'CBTS_16', 'CBTS_17', 'CBTS_18', 'CBTS_19', 'CBTS_20', 'CBTS_21',
       'CBTS_22', 'EPDS_1', 'EPDS_2', 'EPDS_3', 'EPDS_4', 'EPDS_5', 'EPDS_6',
       'EPDS_7', 'EPDS_8', 'EPDS_9', 'EPDS_10', 'HADS_1', 'HADS_3', 'HADS_5',
       'HADS_7', 'HADS_9', 'HADS_11', 'HADS_13', 'Child_survey_participation',
       'Age_bb', 'IBQ_R_VSF_3_bb1', 'IBQ_R_VSF_4_bb1', 'IBQ_R_VSF_9_bb1',
       'IBQ_R_VSF_10_bb1', 'IBQ_R_VSF_16_bb1', 'IBQ_R_VSF_17_bb1',
       'IBQ_R_VSF_28_bb1', 'IBQ_R_VSF_29_bb1', 'IBQ_R_VSF_32_bb1',
       'IBQ_R_VSF_33_bb1', 'Sleep_night_duration_bb1',
       'night_awakening_number_bb1', 'how_falling_asleep_bb1'],
      dtype='object')

In [26]:
sleep.memory_usage(deep=True).sum()     # also lots of memory being used

587056037

In [30]:
sleep = sleep.dropna(how='all')
sleep

,Participant_number,Type_parents,Birth_1mth_M_inclusion,Birth_12mth_M_inclusion,Age,Marital_status,Marital_status_Autre,Marital_status_edit,Education,Gestationnal_age,...,IBQ_R_VSF_10_bb1,IBQ_R_VSF_16_bb1,IBQ_R_VSF_17_bb1,IBQ_R_VSF_28_bb1,IBQ_R_VSF_29_bb1,IBQ_R_VSF_32_bb1,IBQ_R_VSF_33_bb1,Sleep_night_duration_bb1,night_awakening_number_bb1,how_falling_asleep_bb1
0,1.0,1.0,1.0,1.0,34.0,2.0,NaN,2.0,5.0,37.0,...,NaN,7.0,NaN,NaN,7.0,6.0,NaN,10:00,3.0,2.0
1,2.0,1.0,1.0,1.0,33.0,2.0,NaN,2.0,5.0,42.0,...,2.0,3.0,2.0,2.0,2.0,3.0,4.0,11:00,0.0,4.0
2,3.0,1.0,1.0,1.0,37.0,2.0,NaN,2.0,5.0,41.0,...,4.0,4.0,3.0,1.0,4.0,NaN,NaN,12:00,1.0,2.0
3,4.0,1.0,1.0,1.0,31.0,2.0,NaN,2.0,5.0,37.5,...,1.0,3.0,NaN,NaN,NaN,5.0,NaN,11:00,2.0,1.0
4,5.0,1.0,1.0,1.0,36.0,1.0,NaN,1.0,5.0,40.0,...,4.0,2.0,2.0,4.0,5.0,6.0,6.0,10:30,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,406.0,1.0,1.0,1.0,31.0,2.0,NaN,2.0,3.0,39.5,...,6.0,6.0,NaN,NaN,4.0,2.0,NaN,09:00,1.0,2.0
406,407.0,1.0,1.0,1.0,26.0,2.0,NaN,2.0,2.0,37.0,...,1.0,2.0,1.0,1.0,1.0,2.0,1.0,12:00,0.0,4.0
407,408.0,1.0,1.0,1.0,26.0,2.0,NaN,2.0,5.0,39.0,...,1.0,2.0,1.0,3.0,2.0,3.0,2.0,10:00,2.0,5.0
408,409.0,1.0,1.0,1.0,27.0,2.0,NaN,2.0,5.0,41.2,...,1.0,2.0,1.0,1.0,2.0,2.0,1.0,11:30,0.0,4.0
409,410.0,1.0,1.0,1.0,31.0,2.0,NaN,2.0,5.0,38.0,...,1.0,6.0,1.0,2.0,NaN,2.0,NaN,12:00,0.0,4.0

In [67]:
# for now, i want to break this data up into two frames
# one for the survey results, and one for everything ele
# we'll use the participant number as an index in both, and keep it locked down

info = ['Participant_number', 'Type_parents', 'Birth_1mth_M_inclusion',
       'Birth_12mth_M_inclusion', 'Age', 'Marital_status',
       'Marital_status_Autre', 'Marital_status_edit', 'Education',
       'Gestationnal_age', 'Type_pregnancy', 'sex_baby1', 'Age_bb', 'Sleep_night_duration_bb1',
       'night_awakening_number_bb1', 'how_falling_asleep_bb1']

survey = ['CBTS_M_3', 'CBTS_M_4', 'CBTS_M_5', 'CBTS_M_6', 'CBTS_M_7', 'CBTS_M_8', 'CBTS_M_9',
       'CBTS_M_10', 'CBTS_M_11', 'CBTS_M_12', 'CBTS_13', 'CBTS_14', 'CBTS_15',
       'CBTS_16', 'CBTS_17', 'CBTS_18', 'CBTS_19', 'CBTS_20', 'CBTS_21',
       'CBTS_22', 'EPDS_1', 'EPDS_2', 'EPDS_3', 'EPDS_4', 'EPDS_5', 'EPDS_6',
       'EPDS_7', 'EPDS_8', 'EPDS_9', 'EPDS_10', 'HADS_1', 'HADS_3', 'HADS_5',
       'HADS_7', 'HADS_9', 'HADS_11', 'HADS_13', 'IBQ_R_VSF_3_bb1', 'IBQ_R_VSF_4_bb1', 'IBQ_R_VSF_9_bb1',
       'IBQ_R_VSF_10_bb1', 'IBQ_R_VSF_16_bb1', 'IBQ_R_VSF_17_bb1',
       'IBQ_R_VSF_28_bb1', 'IBQ_R_VSF_29_bb1', 'IBQ_R_VSF_32_bb1',
       'IBQ_R_VSF_33_bb1']

In [68]:
# sleep['Sleep_night_duration_bb1'] = pd.to_numeric(sleep['Sleep_night_duration_bb1'], errors='coerce')
# sleep['Sleep_night_duration_bb1'].dtypes

dtype('float64')

In [69]:
(sleep
    [info]
    .astype({'Participant_number':'int16', 'Type_parents':'int8', 'Birth_1mth_M_inclusion':'int8', 'Birth_12mth_M_inclusion':'int8', 
             'Age':'int8', 'Marital_status':'int8', 'Marital_status_edit':'int8', 'Education':'int8', 'Gestationnal_age':'int8', 'Type_pregnancy':'int8',
             'sex_baby1':'int8', 'Age_bb':'int8', 'night_awakening_number_bb1':'int8', 'how_falling_asleep_bb1':'int8'})
             
    # .memory_usage()
    # .sum()
    .dtypes
)

Participant_number              int16
Type_parents                     int8
Birth_1mth_M_inclusion           int8
Birth_12mth_M_inclusion          int8
Age                              int8
Marital_status                   int8
Marital_status_Autre           object
Marital_status_edit              int8
Education                        int8
Gestationnal_age                 int8
Type_pregnancy                   int8
sex_baby1                        int8
Age_bb                           int8
Sleep_night_duration_bb1      float64
night_awakening_number_bb1       int8
how_falling_asleep_bb1           int8
dtype: object

In [53]:
np.iinfo(np.int8)

iinfo(min=-128, max=127, dtype=int8)