In [1]:
import numpy as np
import pandas as pd

In [2]:
lebron = pd.read_csv('data/NBA/1_lebron_james_shot_chart_1_2023.csv')
james = pd.read_csv('data/NBA/2_james_harden_shot_chart_2023.csv')
stephen = pd.read_csv('data/NBA/3_stephen_curry_shot_chart_2023.csv')

print(lebron.shape)
print(james.shape)
print(stephen.shape)

(1533, 15)
(1025, 15)
(1434, 15)

In [3]:
lebron.dtypes

top                     int64
left                    int64
date                   object
qtr                    object
time_remaining         object
result                   bool
shot_type               int64
distance_ft             int64
lead                     bool
lebron_team_score       int64
opponent_team_score     int64
opponent               object
team                   object
season                  int64
color                  object
dtype: object

In [4]:
lebron.index.rename('Shot Count', inplace=True)
james.index.rename('Shot Count', inplace=True)
stephen.index.rename('Shot Count', inplace=True)

In [9]:
# not super organized way of creating a dataset but
# just playing around

lebrames = pd.merge(lebron, james, on='Shot Count', suffixes=['_lebron', '_james'])
lebrames

,top_lebron,left_lebron,date_lebron,qtr_lebron,time_remaining_lebron,result_lebron,shot_type_lebron,distance_ft_lebron,lead_lebron,lebron_team_score_lebron,...,result_james,shot_type_james,distance_ft_james,lead_james,lebron_team_score_james,opponent_team_score_james,opponent_james,team_james,season_james,color_james
Shot Count,,,,,,,,,,,,,,,,,,,,,
0,310,203,"Oct 18, 2022",1st Qtr,09:26,False,3,26,False,2,...,False,3,28,False,2,9,BOS,PHI,2023,red
1,213,259,"Oct 18, 2022",1st Qtr,08:38,False,2,16,False,4,...,True,3,29,True,18,17,BOS,PHI,2023,green
2,143,171,"Oct 18, 2022",1st Qtr,08:10,False,2,11,False,4,...,True,3,26,True,22,17,BOS,PHI,2023,green
3,68,215,"Oct 18, 2022",1st Qtr,05:24,True,2,3,False,12,...,True,2,7,True,25,17,BOS,PHI,2023,green
4,66,470,"Oct 18, 2022",1st Qtr,01:02,False,3,23,False,22,...,True,3,27,True,45,43,BOS,PHI,2023,green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,83,16,"Feb 23, 2023",2nd Qtr,08:02,False,3,23,True,39,...,True,2,6,True,37,35,BOS,PHI,2023,green
1021,172,211,"Feb 23, 2023",2nd Qtr,06:59,False,2,13,True,42,...,False,3,26,False,52,55,BOS,PHI,2023,red
1022,218,437,"Feb 23, 2023",2nd Qtr,00:25,False,3,26,True,59,...,True,3,27,False,58,65,BOS,PHI,2023,green
1023,104,240,"Feb 23, 2023",2nd Qtr,00:19,False,2,5,True,59,...,False,3,27,False,58,80,BOS,PHI,2023,red
1024,117,377,"Feb 23, 2023",2nd Qtr,00:05,False,2,15,True,59,...,False,2,3,False,65,91,BOS,PHI,2023,red